In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/crop-recommendation-dataset/Crop_recommendation.csv
/kaggle/input/all-agriculture-related-datasets-for-india/csv
/kaggle/input/rainfall-in-india/rainfall in india 1901-2015.csv
/kaggle/input/rainfall-in-india/district wise rainfall normal.csv
/kaggle/input/historicalweatherdataforindiancities/Temperature_And_Precipitation_Cities_IN/Lucknow_1990_2022.csv
/kaggle/input/historicalweatherdataforindiancities/Temperature_And_Precipitation_Cities_IN/Delhi_NCR_1990_2022_Safdarjung.csv
/kaggle/input/historicalweatherdataforindiancities/Temperature_And_Precipitation_Cities_IN/weather_Rourkela_2021_2022.csv
/kaggle/input/historicalweatherdataforindiancities/Temperature_And_Precipitation_Cities_IN/Chennai_1990_2022_Madras.csv
/kaggle/input/historicalweatherdataforindiancities/Temperature_And_Precipitation_Cities_IN/Rajasthan_1990_2022_Jodhpur.csv
/kaggle/input/historicalweatherdataforindiancities/Temperature_And_Precipitation_Cities_IN/Bangalore_1990_2022_BangaloreCity.csv
/kaggle/input/historicalweatherdataforindiancities/Temperature_And_Precipitation_Cities_IN/Station_GeoLocation_Longitute_Latitude_Elevation_EPSG_4326.csv
/kaggle/input/historicalweatherdataforindiancities/Temperature_And_Precipitation_Cities_IN/Mumbai_1990_2022_Santacruz.csv
/kaggle/input/historicalweatherdataforindiancities/Temperature_And_Precipitation_Cities_IN/weather_Bhubhneshwar_1990_2022.csv

extracting the rainfall data and viewing the features accordingly

In [2]:
district_rainfall_data=pd.read_csv('/kaggle/input/rainfall-in-india/district wise rainfall normal.csv')
india_rainfall_data=pd.read_csv('/kaggle/input/rainfall-in-india/rainfall in india 1901-2015.csv')

In [3]:
district_rainfall_data.head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1

In [4]:
india_rainfall_data.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8

printing all the unique values in the rainfall dataset

In [5]:
unique_values=india_rainfall_data['SUBDIVISION'].unique()
print(unique_values)

['ANDAMAN & NICOBAR ISLANDS' 'ARUNACHAL PRADESH' 'ASSAM & MEGHALAYA'
 'NAGA MANI MIZO TRIPURA' 'SUB HIMALAYAN WEST BENGAL & SIKKIM'
 'GANGETIC WEST BENGAL' 'ORISSA' 'JHARKHAND' 'BIHAR' 'EAST UTTAR PRADESH'
 'WEST UTTAR PRADESH' 'UTTARAKHAND' 'HARYANA DELHI & CHANDIGARH' 'PUNJAB'
 'HIMACHAL PRADESH' 'JAMMU & KASHMIR' 'WEST RAJASTHAN' 'EAST RAJASTHAN'
 'WEST MADHYA PRADESH' 'EAST MADHYA PRADESH' 'GUJARAT REGION'
 'SAURASHTRA & KUTCH' 'KONKAN & GOA' 'MADHYA MAHARASHTRA' 'MATATHWADA'
 'VIDARBHA' 'CHHATTISGARH' 'COASTAL ANDHRA PRADESH' 'TELANGANA'
 'RAYALSEEMA' 'TAMIL NADU' 'COASTAL KARNATAKA' 'NORTH INTERIOR KARNATAKA'
 'SOUTH INTERIOR KARNATAKA' 'KERALA' 'LAKSHADWEEP']

checking for null values

In [6]:
india_rainfall_data.shape

(4116, 19)

checking total null values

In [7]:
india_rainfall_data.isnull().sum().sum()

134

checking the columns that have said null values

In [8]:
missing_values_count=india_rainfall_data.isnull().sum()
missing_values_count

SUBDIVISION     0
YEAR            0
JAN             4
FEB             3
MAR             6
APR             4
MAY             3
JUN             5
JUL             7
AUG             4
SEP             6
OCT             7
NOV            11
DEC            10
ANNUAL         26
Jan-Feb         6
Mar-May         9
Jun-Sep        10
Oct-Dec        13
dtype: int64

check percentage of null values

In [9]:
total_cells = np.product(india_rainfall_data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

0.17134673418239477

removing all the na values

In [10]:
rainfall_india_clean=india_rainfall_data.dropna()
rainfall_india_clean.isnull().sum().sum()

0

checking Nan values

In [11]:
rainfall_india_clean.isna().sum().sum()

0

viewing the final rainfall clean dataset

In [12]:
rainfall_india_clean.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8

checking for null values in the district rainfall dataset

In [13]:
district_rainfall_data.isnull().sum().sum()

0

checking NaN values in

In [14]:
district_rainfall_data.isna().sum().sum()

0

importing the crop recommendation data

In [15]:
recommendation_data=pd.read_csv('/kaggle/input/crop-recommendation-dataset/Crop_recommendation.csv')
recommendation_data.isnull().sum().sum()

0

checking for null values

In [16]:
recommendation_data.isna().sum().sum()

0

In [17]:
agriculture_related_data=pd.read_csv('/kaggle/input/all-agriculture-related-datasets-for-india/csv')
agriculture_related_data.head()

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Andaman and Nicobar,South Andaman,Port Blair,Amaranthus,Amaranthus,04/03/2019,6000,8000,7000
1,Andaman and Nicobar,South Andaman,Port Blair,Banana - Green,Banana - Green,04/03/2019,4500,5500,5000
2,Andaman and Nicobar,South Andaman,Port Blair,Bhindi(Ladies Finger),Bhindi,04/03/2019,6000,8000,7000
3,Andaman and Nicobar,South Andaman,Port Blair,Bitter gourd,Other,04/03/2019,6000,8000,7000
4,Andaman and Nicobar,South Andaman,Port Blair,Black pepper,Other,04/03/2019,110000,130000,120000

In [18]:
agriculture_related_data.shape

(2238, 9)

In [19]:
agriculture_related_data.columns

Index(['state', 'district', 'market', 'commodity', 'variety', 'arrival_date',
       'min_price', 'max_price', 'modal_price'],
      dtype='object')

In [20]:
agriculture_related_data.isnull().sum().sum()

0

In [21]:
agriculture_related_data.isna().sum().sum()

0

In [22]:
agriculture_related_data.head()

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Andaman and Nicobar,South Andaman,Port Blair,Amaranthus,Amaranthus,04/03/2019,6000,8000,7000
1,Andaman and Nicobar,South Andaman,Port Blair,Banana - Green,Banana - Green,04/03/2019,4500,5500,5000
2,Andaman and Nicobar,South Andaman,Port Blair,Bhindi(Ladies Finger),Bhindi,04/03/2019,6000,8000,7000
3,Andaman and Nicobar,South Andaman,Port Blair,Bitter gourd,Other,04/03/2019,6000,8000,7000
4,Andaman and Nicobar,South Andaman,Port Blair,Black pepper,Other,04/03/2019,110000,130000,120000

In [23]:
ard_unique_districts=agriculture_related_data['district'].unique()
ard_unique_states=agriculture_related_data['state'].unique()
print(len(ard_unique_districts))

174

checking the unique states in the dataset

In [24]:
print(len(ard_unique_states))

26

In [25]:
print(ard_unique_states)

['Andaman and Nicobar' 'Andhra Pradesh' 'Assam' 'Chattisgarh' 'Goa'
 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu and Kashmir' 'Karnataka'
 'Kerala' 'Madhya Pradesh' 'Maharashtra' 'Manipur' 'Meghalaya' 'Nagaland'
 'Odisha' 'Pondicherry' 'Punjab' 'Rajasthan' 'Tamil Nadu' 'Telangana'
 'Tripura' 'Uttar Pradesh' 'Uttrakhand' 'West Bengal']

checking districts for the districts dataset as well

In [26]:
district_rainfall_data.head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1

In [27]:
drd_unique_districts=district_rainfall_data['DISTRICT'].unique()
drd_unique_states=district_rainfall_data['STATE_UT_NAME'].unique()
print(len(drd_unique_districts))

637

checking the unique states for district rainfall

In [28]:
print(len(drd_unique_states))

35

checking the unique states of the agriculture dataset

In [29]:
print(drd_unique_states)

['ANDAMAN And NICOBAR ISLANDS' 'ARUNACHAL PRADESH' 'ASSAM' 'MEGHALAYA'
 'MANIPUR' 'MIZORAM' 'NAGALAND' 'TRIPURA' 'WEST BENGAL' 'SIKKIM' 'ORISSA'
 'JHARKHAND' 'BIHAR' 'UTTAR PRADESH' 'UTTARANCHAL' 'HARYANA' 'CHANDIGARH'
 'DELHI' 'PUNJAB' 'HIMACHAL' 'JAMMU AND KASHMIR' 'RAJASTHAN'
 'MADHYA PRADESH' 'GUJARAT' 'DADAR NAGAR HAVELI' 'DAMAN AND DUI'
 'MAHARASHTRA' 'GOA' 'CHATISGARH' 'ANDHRA PRADESH' 'TAMIL NADU'
 'PONDICHERRY' 'KARNATAKA' 'KERALA' 'LAKSHADWEEP']

renaming the state and district column names for agriculture related dataset

In [30]:
district_rainfall_data.rename(columns={'STATE_UT_NAME':'state','DISTRICT':'district'},inplace=True)
district_rainfall_data.head()

,state,district,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1

trying to combine two pandas datasets based on common values. I will be using both the common features(state,district) and will get two seperate datasets accordingly

checking the columns of the two datasets

In [31]:
agriculture_related_data.columns

Index(['state', 'district', 'market', 'commodity', 'variety', 'arrival_date',
       'min_price', 'max_price', 'modal_price'],
      dtype='object')

In [32]:
district_rainfall_data.columns

Index(['state', 'district', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL',
       'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Jan-Feb', 'Mar-May',
       'Jun-Sep', 'Oct-Dec'],
      dtype='object')

dropping rows which have uncommon state values in district rainfall data

In [33]:
# # Drop rows where column 'B' is equal to values in values_to_drop list
# district_rainfall_data = district_rainfall_data[~district_rainfall_data['state'].isin(result)]
# district_rainfall_data.reset_index(drop=True)
# # district_rainfall_data.head()

checking the unique values now

In [34]:
drd_unique_districts=district_rainfall_data['district'].unique()
drd_unique_states=district_rainfall_data['state'].unique()
print(len(drd_unique_states))

35

merging two datasets on the basis of state

In [35]:
state_merged=pd.merge(agriculture_related_data,district_rainfall_data,on='state',how='outer')

In [36]:
state_merged.head()

,state,district_x,market,commodity,variety,arrival_date,min_price,max_price,modal_price,district_y,...,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,Andaman and Nicobar,South Andaman,Port Blair,Amaranthus,Amaranthus,04/03/2019,6000.0,8000.0,7000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andaman and Nicobar,South Andaman,Port Blair,Banana - Green,Banana - Green,04/03/2019,4500.0,5500.0,5000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andaman and Nicobar,South Andaman,Port Blair,Bhindi(Ladies Finger),Bhindi,04/03/2019,6000.0,8000.0,7000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andaman and Nicobar,South Andaman,Port Blair,Bitter gourd,Other,04/03/2019,6000.0,8000.0,7000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andaman and Nicobar,South Andaman,Port Blair,Black pepper,Other,04/03/2019,110000.0,130000.0,120000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

kill me now if i get a lot of na values

In [37]:
state_merged.isna().sum().sum()

45412

In [38]:
missing_values = state_merged.isna().mean() * 100

print(missing_values)

state            0.000000
district_x      22.264675
market          22.264675
commodity       22.264675
variety         22.264675
arrival_date    22.264675
min_price       22.264675
max_price       22.264675
modal_price     22.264675
district_y      77.735325
JAN             77.735325
FEB             77.735325
MAR             77.735325
APR             77.735325
MAY             77.735325
JUN             77.735325
JUL             77.735325
AUG             77.735325
SEP             77.735325
OCT             77.735325
NOV             77.735325
DEC             77.735325
ANNUAL          77.735325
Jan-Feb         77.735325
Mar-May         77.735325
Jun-Sep         77.735325
Oct-Dec         77.735325
dtype: float64

In [39]:
# Impute missing values with the mean of the column
# state_merged.fillna(state_merged.mean(), inplace=True)

In [40]:
# state_merged.isna().sum().sum()

In [41]:
subdivisions=india_rainfall_data['SUBDIVISION'].unique()
print(subdivisions)

['ANDAMAN & NICOBAR ISLANDS' 'ARUNACHAL PRADESH' 'ASSAM & MEGHALAYA'
 'NAGA MANI MIZO TRIPURA' 'SUB HIMALAYAN WEST BENGAL & SIKKIM'
 'GANGETIC WEST BENGAL' 'ORISSA' 'JHARKHAND' 'BIHAR' 'EAST UTTAR PRADESH'
 'WEST UTTAR PRADESH' 'UTTARAKHAND' 'HARYANA DELHI & CHANDIGARH' 'PUNJAB'
 'HIMACHAL PRADESH' 'JAMMU & KASHMIR' 'WEST RAJASTHAN' 'EAST RAJASTHAN'
 'WEST MADHYA PRADESH' 'EAST MADHYA PRADESH' 'GUJARAT REGION'
 'SAURASHTRA & KUTCH' 'KONKAN & GOA' 'MADHYA MAHARASHTRA' 'MATATHWADA'
 'VIDARBHA' 'CHHATTISGARH' 'COASTAL ANDHRA PRADESH' 'TELANGANA'
 'RAYALSEEMA' 'TAMIL NADU' 'COASTAL KARNATAKA' 'NORTH INTERIOR KARNATAKA'
 'SOUTH INTERIOR KARNATAKA' 'KERALA' 'LAKSHADWEEP']

In [42]:
print(len(subdivisions))

36

In [43]:
india_rainfall_data.rename(columns={'SUBDIVISION': 'state'},inplace=True)
india_rainfall_data.head()

,state,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8

In [44]:
merged_dataset = pd.merge(india_rainfall_data,district_rainfall_data, on='state', how='outer')
merged_dataset = pd.merge(merged_dataset,agriculture_related_data, on='state', how='outer')

# Impute all NaN values with the mean value of each column
merged_dataset.fillna(merged_dataset.mean(), inplace=True)

# Print the head of the merged dataset
merged_dataset.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """

,state,YEAR,JAN_x,FEB_x,MAR_x,APR_x,MAY_x,JUN_x,JUL_x,AUG_x,...,Jun-Sep_y,Oct-Dec_y,district_y,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,ANDAMAN & NICOBAR ISLANDS,1901.0,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,...,1007.78413,207.296242,NaN,NaN,NaN,NaN,NaN,2456.230563,2855.890527,2698.865952
1,ANDAMAN & NICOBAR ISLANDS,1902.0,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,...,1007.78413,207.296242,NaN,NaN,NaN,NaN,NaN,2456.230563,2855.890527,2698.865952
2,ANDAMAN & NICOBAR ISLANDS,1903.0,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,...,1007.78413,207.296242,NaN,NaN,NaN,NaN,NaN,2456.230563,2855.890527,2698.865952
3,ANDAMAN & NICOBAR ISLANDS,1904.0,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,...,1007.78413,207.296242,NaN,NaN,NaN,NaN,NaN,2456.230563,2855.890527,2698.865952
4,ANDAMAN & NICOBAR ISLANDS,1905.0,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,...,1007.78413,207.296242,NaN,NaN,NaN,NaN,NaN,2456.230563,2855.890527,2698.865952

please

In [45]:
missing_values_count = merged_dataset.isnull().sum()
# how many total missing values do we have?
total_cells = np.product(merged_dataset.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

10.616104747729675

In [46]:
total_missing

123038

In [47]:
total_cells

1158975

In [48]:
missing_values_count

state               0
YEAR                0
JAN_x               0
FEB_x               0
MAR_x               0
APR_x               0
MAY_x               0
JUN_x               0
JUL_x               0
AUG_x               0
SEP_x               0
OCT_x               0
NOV_x               0
DEC_x               0
ANNUAL_x            0
Jan-Feb_x           0
Mar-May_x           0
Jun-Sep_x           0
Oct-Dec_x           0
district_x       5453
JAN_y               0
FEB_y               0
MAR_y               0
APR_y               0
MAY_y               0
JUN_y               0
JUL_y               0
AUG_y               0
SEP_y               0
OCT_y               0
NOV_y               0
DEC_y               0
ANNUAL_y            0
Jan-Feb_y           0
Mar-May_y           0
Jun-Sep_y           0
Oct-Dec_y           0
district_y      23517
market          23517
commodity       23517
variety         23517
arrival_date    23517
min_price           0
max_price           0
modal_price         0
dtype: int64

In [49]:
merged_dataset.isna().sum()

state               0
YEAR                0
JAN_x               0
FEB_x               0
MAR_x               0
APR_x               0
MAY_x               0
JUN_x               0
JUL_x               0
AUG_x               0
SEP_x               0
OCT_x               0
NOV_x               0
DEC_x               0
ANNUAL_x            0
Jan-Feb_x           0
Mar-May_x           0
Jun-Sep_x           0
Oct-Dec_x           0
district_x       5453
JAN_y               0
FEB_y               0
MAR_y               0
APR_y               0
MAY_y               0
JUN_y               0
JUL_y               0
AUG_y               0
SEP_y               0
OCT_y               0
NOV_y               0
DEC_y               0
ANNUAL_y            0
Jan-Feb_y           0
Mar-May_y           0
Jun-Sep_y           0
Oct-Dec_y           0
district_y      23517
market          23517
commodity       23517
variety         23517
arrival_date    23517
min_price           0
max_price           0
modal_price         0
dtype: int64

In [50]:
df=merged_dataset.copy()
df.drop(columns=['district_x','district_y','market','commodity','variety','arrival_date'], inplace=True)

In [51]:
df.isnull().sum().sum()

0

In [52]:
y=df['state']
X=df.drop(columns=['state'])

In [53]:
X.head()

,YEAR,JAN_x,FEB_x,MAR_x,APR_x,MAY_x,JUN_x,JUL_x,AUG_x,SEP_x,...,NOV_y,DEC_y,ANNUAL_y,Jan-Feb_y,Mar-May_y,Jun-Sep_y,Oct-Dec_y,min_price,max_price,modal_price
0,1901.0,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
1,1902.0,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
2,1903.0,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
3,1904.0,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
4,1905.0,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952

In [54]:
X.shape

(25755, 38)

In [55]:
X.columns

Index(['YEAR', 'JAN_x', 'FEB_x', 'MAR_x', 'APR_x', 'MAY_x', 'JUN_x', 'JUL_x',
       'AUG_x', 'SEP_x', 'OCT_x', 'NOV_x', 'DEC_x', 'ANNUAL_x', 'Jan-Feb_x',
       'Mar-May_x', 'Jun-Sep_x', 'Oct-Dec_x', 'JAN_y', 'FEB_y', 'MAR_y',
       'APR_y', 'MAY_y', 'JUN_y', 'JUL_y', 'AUG_y', 'SEP_y', 'OCT_y', 'NOV_y',
       'DEC_y', 'ANNUAL_y', 'Jan-Feb_y', 'Mar-May_y', 'Jun-Sep_y', 'Oct-Dec_y',
       'min_price', 'max_price', 'modal_price'],
      dtype='object')

In [56]:
recommendation_data.shape

(2200, 8)

columns of all

In [57]:
df.columns

Index(['state', 'YEAR', 'JAN_x', 'FEB_x', 'MAR_x', 'APR_x', 'MAY_x', 'JUN_x',
       'JUL_x', 'AUG_x', 'SEP_x', 'OCT_x', 'NOV_x', 'DEC_x', 'ANNUAL_x',
       'Jan-Feb_x', 'Mar-May_x', 'Jun-Sep_x', 'Oct-Dec_x', 'JAN_y', 'FEB_y',
       'MAR_y', 'APR_y', 'MAY_y', 'JUN_y', 'JUL_y', 'AUG_y', 'SEP_y', 'OCT_y',
       'NOV_y', 'DEC_y', 'ANNUAL_y', 'Jan-Feb_y', 'Mar-May_y', 'Jun-Sep_y',
       'Oct-Dec_y', 'min_price', 'max_price', 'modal_price'],
      dtype='object')

In [58]:
recommendation_data.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [59]:
df.head(20)

,state,YEAR,JAN_x,FEB_x,MAR_x,APR_x,MAY_x,JUN_x,JUL_x,AUG_x,...,NOV_y,DEC_y,ANNUAL_y,Jan-Feb_y,Mar-May_y,Jun-Sep_y,Oct-Dec_y,min_price,max_price,modal_price
0,ANDAMAN & NICOBAR ISLANDS,1901.0,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
1,ANDAMAN & NICOBAR ISLANDS,1902.0,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
2,ANDAMAN & NICOBAR ISLANDS,1903.0,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
3,ANDAMAN & NICOBAR ISLANDS,1904.0,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
4,ANDAMAN & NICOBAR ISLANDS,1905.0,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
5,ANDAMAN & NICOBAR ISLANDS,1906.0,36.6,0.0,0.0,0.0,556.1,733.3,247.7,320.5,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
6,ANDAMAN & NICOBAR ISLANDS,1907.0,110.7,0.0,113.3,21.6,616.3,305.2,443.9,377.6,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
7,ANDAMAN & NICOBAR ISLANDS,1908.0,20.9,85.1,0.0,29.0,562.0,693.6,481.4,699.9,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
8,ANDAMAN & NICOBAR ISLANDS,1910.0,26.6,22.7,206.3,89.3,224.5,472.7,264.3,337.4,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
9,ANDAMAN & NICOBAR ISLANDS,1911.0,0.0,8.4,0.0,122.5,327.3,649.0,253.0,187.1,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
10,ANDAMAN & NICOBAR ISLANDS,1912.0,583.7,0.8,0.0,21.9,140.7,549.8,468.9,370.3,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
11,ANDAMAN & NICOBAR ISLANDS,1913.0,84.8,0.5,1.3,2.5,190.7,530.0,280.8,205.8,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
12,ANDAMAN & NICOBAR ISLANDS,1914.0,0.0,0.0,0.0,37.7,298.8,383.3,792.8,520.5,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
13,ANDAMAN & NICOBAR ISLANDS,1915.0,45.0,56.7,33.3,40.9,170.2,334.7,269.0,317.2,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
14,ANDAMAN & NICOBAR ISLANDS,1916.0,0.0,0.0,0.0,0.5,487.4,450.1,317.3,425.0,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
15,ANDAMAN & NICOBAR ISLANDS,1917.0,8.0,3.6,112.0,4.5,295.9,301.1,394.8,437.4,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
16,ANDAMAN & NICOBAR ISLANDS,1918.0,77.4,6.9,11.4,10.7,729.3,710.8,200.9,455.4,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
17,ANDAMAN & NICOBAR ISLANDS,1919.0,10.2,18.0,0.0,35.5,283.9,542.5,246.5,259.8,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
18,ANDAMAN & NICOBAR ISLANDS,1920.0,122.3,7.4,3.1,13.0,237.4,546.9,294.4,467.4,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952
19,ANDAMAN & NICOBAR ISLANDS,1921.0,13.2,3.1,0.0,37.5,351.2,282.7,487.1,330.0,...,58.700837,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952

In [60]:
df['Oct-Dec_y'].value_counts()

207.296242    5453
83.700000      345
93.800000      231
72.300000      231
45.800000      230
              ...
26.300000        1
29.900000        1
19.000000        1
21.000000        1
225.200000       1
Name: Oct-Dec_y, Length: 525, dtype: int64

In [61]:
recommendation_data['rainfall'].value_counts()

202.935536    1
26.036577     1
20.390205     1
21.179248     1
21.000099     1
             ..
65.816559     1
63.497263     1
65.628595     1
61.192509     1
140.937041    1
Name: rainfall, Length: 2200, dtype: int64

In [62]:
df['Mar-May_y'].value_counts()

172.019067    5453
27.900000      233
101.800000     230
68.100000      230
115.900000     230
              ...
25.100000        1
13.400000        1
48.200000        1
48.800000        1
104.800000       1
Name: Mar-May_y, Length: 512, dtype: int64

In [63]:
df['average']=(df['Jan-Feb_y']+df['Mar-May_y']+df['Jun-Sep_y']+df['Oct-Dec_y'])/4

In [64]:
df['average'].value_counts()

356.992669    5453
362.075000     230
286.700000     230
260.450000     230
383.375000     230
              ...
530.975000       1
316.750000       1
204.600000       1
167.325000       1
187.125000       1
Name: average, Length: 594, dtype: int64

In [65]:
df.head()

,state,YEAR,JAN_x,FEB_x,MAR_x,APR_x,MAY_x,JUN_x,JUL_x,AUG_x,...,DEC_y,ANNUAL_y,Jan-Feb_y,Mar-May_y,Jun-Sep_y,Oct-Dec_y,min_price,max_price,modal_price,average
0,ANDAMAN & NICOBAR ISLANDS,1901.0,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,...,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952,356.992669
1,ANDAMAN & NICOBAR ISLANDS,1902.0,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,...,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952,356.992669
2,ANDAMAN & NICOBAR ISLANDS,1903.0,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,...,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952,356.992669
3,ANDAMAN & NICOBAR ISLANDS,1904.0,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,...,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952,356.992669
4,ANDAMAN & NICOBAR ISLANDS,1905.0,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,...,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952,356.992669

In [66]:
df.rename(columns={'average':'rainfall'},inplace=True)
df.head()

,state,YEAR,JAN_x,FEB_x,MAR_x,APR_x,MAY_x,JUN_x,JUL_x,AUG_x,...,DEC_y,ANNUAL_y,Jan-Feb_y,Mar-May_y,Jun-Sep_y,Oct-Dec_y,min_price,max_price,modal_price,rainfall
0,ANDAMAN & NICOBAR ISLANDS,1901.0,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,...,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952,356.992669
1,ANDAMAN & NICOBAR ISLANDS,1902.0,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,...,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952,356.992669
2,ANDAMAN & NICOBAR ISLANDS,1903.0,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,...,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952,356.992669
3,ANDAMAN & NICOBAR ISLANDS,1904.0,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,...,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952,356.992669
4,ANDAMAN & NICOBAR ISLANDS,1905.0,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,...,28.529795,1427.970678,40.871239,172.019067,1007.78413,207.296242,2456.230563,2855.890527,2698.865952,356.992669

making a couple of copies to try and left merge

In [67]:
df1=df.copy()
df2=recommendation_data.copy()

trying different joins

In [68]:
# Merge the two datasets on the rainfall column
merged_df = pd.merge(df1, df2, on="rainfall",how="outer")

# Fill missing values in the second dataset with the mean value of the rainfall column in the first dataset
merged_df["rainfall"].fillna(df1["rainfall"].mean(), inplace=True)

# Print the merged DataFramemerged_df.head()

In [69]:
# merged_df = pd.merge(df1, df2, on="rainfall", how="outer")

# # Fill any missing values in the second dataset with the mean value of the rainfall column in df2
# merged_df["rainfall"].fillna(df2["rainfall"].mean(), inplace=True)

# # Round the values in the rainfall column to the nearest whole number
# merged_df["rainfall"] = merged_df["rainfall"].round()

# # Rename the columns to their original names
# merged_df.rename(columns={"rainfall": "rainfall"}, inplace=True)

# # Drop any remaining rows with missing values in the rainfall column
# merged_df.dropna(subset=["rainfall"], inplace=True)

In [70]:
merged_df.shape

(27955, 47)

In [71]:
merged_df.isna().sum().sum()

266085

In [72]:
merged_df.isna().sum()

state           2200
YEAR            2200
JAN_x           2200
FEB_x           2200
MAR_x           2200
APR_x           2200
MAY_x           2200
JUN_x           2200
JUL_x           2200
AUG_x           2200
SEP_x           2200
OCT_x           2200
NOV_x           2200
DEC_x           2200
ANNUAL_x        2200
Jan-Feb_x       2200
Mar-May_x       2200
Jun-Sep_x       2200
Oct-Dec_x       2200
JAN_y           2200
FEB_y           2200
MAR_y           2200
APR_y           2200
MAY_y           2200
JUN_y           2200
JUL_y           2200
AUG_y           2200
SEP_y           2200
OCT_y           2200
NOV_y           2200
DEC_y           2200
ANNUAL_y        2200
Jan-Feb_y       2200
Mar-May_y       2200
Jun-Sep_y       2200
Oct-Dec_y       2200
min_price       2200
max_price       2200
modal_price     2200
rainfall           0
N              25755
P              25755
K              25755
temperature    25755
humidity       25755
ph             25755
label          25755
dtype: int64

In [73]:
merged_df.head()

,state,YEAR,JAN_x,FEB_x,MAR_x,APR_x,MAY_x,JUN_x,JUL_x,AUG_x,...,max_price,modal_price,rainfall,N,P,K,temperature,humidity,ph,label
0,ANDAMAN & NICOBAR ISLANDS,1901.0,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,...,2855.890527,2698.865952,356.992669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDAMAN & NICOBAR ISLANDS,1902.0,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,...,2855.890527,2698.865952,356.992669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ANDAMAN & NICOBAR ISLANDS,1903.0,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,...,2855.890527,2698.865952,356.992669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANDAMAN & NICOBAR ISLANDS,1904.0,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,...,2855.890527,2698.865952,356.992669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ANDAMAN & NICOBAR ISLANDS,1905.0,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,...,2855.890527,2698.865952,356.992669,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
from fuzzywuzzy import fuzz
# Create a new column in each DataFrame that contains the fuzzy match score between each value in the rainfall column and the corresponding value in the other DataFrame
df1["match_score"] = df1.apply(lambda x: fuzz.token_sort_ratio(x["rainfall"], df2["rainfall"]), axis=1)
df2["match_score"] = df2.apply(lambda x: fuzz.token_sort_ratio(x["rainfall"], df1["rainfall"]), axis=1)

# Merge the two datasets on the match_score column using an inner join
merged_df1= pd.merge(df1, df2, on="match_score", how="inner")

# Print the merged DataFrame
merged_df1.head()

,state,YEAR,JAN_x,FEB_x,MAR_x,APR_x,MAY_x,JUN_x,JUL_x,AUG_x,...,rainfall_x,match_score,N,P,K,temperature,humidity,ph,rainfall_y,label
0,ARUNACHAL PRADESH,1916.0,48.1,69.8,71.1,316.1,424.6,1124.9,327.463533,629.7,...,760.95,6,94,50,37,25.665852,80.663850,6.948020,209.586971,rice
1,ARUNACHAL PRADESH,1916.0,48.1,69.8,71.1,316.1,424.6,1124.9,327.463533,629.7,...,760.95,6,92,35,40,22.179319,80.331272,6.357389,200.088279,rice
2,ARUNACHAL PRADESH,1916.0,48.1,69.8,71.1,316.1,424.6,1124.9,327.463533,629.7,...,760.95,6,64,45,43,25.629801,83.528423,5.534878,209.900198,rice
3,ARUNACHAL PRADESH,1916.0,48.1,69.8,71.1,316.1,424.6,1124.9,327.463533,629.7,...,760.95,6,83,60,36,25.597049,80.145093,6.903986,200.834898,rice
4,ARUNACHAL PRADESH,1916.0,48.1,69.8,71.1,316.1,424.6,1124.9,327.463533,629.7,...,760.95,6,91,35,38,24.897282,80.525861,6.134287,183.679321,rice

In [75]:
merged_df1.isnull().sum().sum()

0

In [76]:
merged_df1.shape

(6154502, 49)

In [77]:
Y=merged_df1['label']
X=merged_df1.copy()
X.drop(columns='label',inplace=True)

In [78]:
X.shape

(6154502, 48)

In [79]:
Y.shape

(6154502,)

In [80]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
categorical_cols = X.select_dtypes(include=["category", "object"]).columns
X=pd.get_dummies(X, columns=categorical_cols)#hot encoding categorical variables
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)
clf = RandomForestClassifier()
model=XGBClassifier()
clf.fit(X_train, y_train)
# Predict the target values of the test set
y_pred = clf.predict(X_test)
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0